
<nav class="navbar fixed-top navbar-expand-xl navbar-light" style="background-color:#e3f2fd;">
  <div class="container-fluid">

    <a class="navbar-brand fs-3 text-dark" href="index.html">
      Home
    </a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

 <div class="collapse navbar-collapse" id="mainNavbar">
    
      <!-- MEGA DROPDOWNS -->
      <ul class="navbar-nav me-auto fs-4 flex-wrap">
    
        <!-- FIGHTER GENERATIONS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-4" href="#" data-bs-toggle="dropdown">
            Fighter Generations
          </a>
          <ul class="dropdown-menu">
           <li><a class="dropdown-item fs-5" href="fighter_generations.html#intro">Einführung</a></li>

           <li><hr class="dropdown-divider"></li>
            
           <li><a class="dropdown-item fs-5" href="fighter_generations.html#gen1">1st Generation</a></li>
           <li><a class="dropdown-item fs-5" href="fighter_generations.html#gen2">2nd Generation</a></li>
           <li><a class="dropdown-item fs-5" href="fighter_generations.html#gen3">3rd Generationh</a></li>            
           <li><a class="dropdown-item fs-5" href="fighter_generations.html#gen4">4th Generation</a></li>
           <li><a class="dropdown-item fs-5" href="fighter_generations.html#gen4.5">4.5th Generation</a></li>
           <li><a class="dropdown-item fs-5" href="fighter_generations.html#gen5">5th Generation</a></li>
           <li><a class="dropdown-item fs-5" href="fighter_generations.html#gen6">6th Generation</a></li>
          </ul>
        </li>
    
        <!-- STEALTH -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-4" href="#" data-bs-toggle="dropdown">
            Stealth
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-5" href="stealth.html#intro">Einführung</a></li>

            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item fs-5" href="stealth.html#visual">Visual Stealth</a></li>
            <li><a class="dropdown-item fs-5" href="stealth.html#radar">Radar Stealth</a></li>
            <li><a class="dropdown-item fs-5" href="stealth.html#infrared">Infrared Stealth</a></li>
            <li><a class="dropdown-item fs-5" href="stealth.html#sonar">Sonar Stealth</a></li>
            <li><a class="dropdown-item fs-5" href="stealth.html#more">Weitere Arten</a></li>
          </ul>
        </li>
    
        <!-- KILLCHAIN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-4" href="#" data-bs-toggle="dropdown">
            Killchain
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-5" href="killchain.html#intro">Einführung</a></li>

            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item fs-5" href="killchain.html#find">Find</a></li>
            <li><a class="dropdown-item fs-5" href="killchain.html#fix">Fix</a></li>
            <li><a class="dropdown-item fs-5" href="killchain.html#track">Track</a></li>
            <li><a class="dropdown-item fs-5" href="killchain.html#engage">Engage</a></li>
            <li><a class="dropdown-item fs-5" href="killchain.html#assess">Assess</a></li>

            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item fs-5" href="killchain.html#vorteile">Vorteile</a></li>
            <li><a class="dropdown-item fs-5" href="killchain.html#nachteil">Nachteile</a></li>

            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item fs-5" href="killchain.html#killnet">Killnet</a></li>
          </ul>
        </li>

        <!-- UAV -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-4" href="#" data-bs-toggle="dropdown">
            UAV & UCAV
          </a>
          <ul class="dropdown-menu">
           <li><a class="dropdown-item fs-5" href="uav_ucav.html#intro">Einführung</a></li>

            <li><hr class="dropdown-divider"></li>

           <li><a class="dropdown-item fs-5" href="uav_ucav.html#dif">Unterschiede</a></li>

            <li><hr class="dropdown-divider"></li>
            
           <li><a class="dropdown-item fs-5" href="uav_ucav.html#lm">Kamikaze Drones</a></li>
           <li><a class="dropdown-item fs-5" href="uav_ucav.html#uca">UCAs</a></li>
           <li><a class="dropdown-item fs-5" href="uav_ucav.html#attack">Attack Drones</a></li>
           <li><a class="dropdown-item fs-5" href="uav_ucav.html#recon">Reconnaissance Drones</a></li>
           <li><a class="dropdown-item fs-5" href="uav_ucav.html#ew">Electronic Warfare Drones</a></li>
           <li><a class="dropdown-item fs-5" href="uav_ucav.html#lw">Loyal Wingman Drones</a></li>
           <li><a class="dropdown-item fs-5" href="uav_ucav.html#ki">Autonomous Drones</a></li>
          </ul>
        </li>

        <!-- SENSOR FUSION -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-4" href="#" data-bs-toggle="dropdown">
            Sensor Fusion
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-5" href="sensor_fusion.html#intro">Einführung</a></li>

            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item fs-5" href="sensor_fusion.html#modern">Moderne Sensor Fusion</a></li>
            <li><a class="dropdown-item fs-5" href="sensor_fusion.html#system">Systeme der Sensor Fusion</a></li>
          </ul>
        </li>

        <!-- DIGITALISIERUNG -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-4" href="#" data-bs-toggle="dropdown">
            AI & Digitalization
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-5" href="ki_digitalisierung.html#intro">Einführung</a></li>

            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item fs-5" href="ki_digitalisierung.html#logistik">Logistik</a></li>
            <li><a class="dropdown-item fs-5" href="ki_digitalisierung.html#flysystem">Flugsteuersysteme</a></li>
            <li><a class="dropdown-item fs-5" href="ki_digitalisierung.html#auto">Autopiloten</a></li>
            <li><a class="dropdown-item fs-5" href="ki_digitalisierung.html#targetlock">Waffen- und Zielerfassung</a></li>
            <li><a class="dropdown-item fs-5" href="ki_digitalisierung.html#drohne">Vollautonome Drohnen</a></li>
          </ul>
        </li>

        <!-- ELECTRONIC WARFARE -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Electronic Warfare
          </a>
        
          <ul class="dropdown-menu dropdown-menu-lg-start">
            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#intro">Einführung</a></li>

            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#jam">Signal Jamming</a></li>
            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#spoof">Spoofing</a></li>
            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#emp">EMP Waffen</a></li>
            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#example">Beispiele</a></li>

            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#spec">Spezialisierte Flugzeuge</a></li>

            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#eccm">ECCM</a></li>
            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#esm">Electronic Support Measures</a></li>
            <li><a class="dropdown-item fs-5" href="electronic_warfare.html#ki">Künstliche Intelligenz</a></li>
          </ul>
        </li>

        
        <!-- ENGINES -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-4" href="#" data-bs-toggle="dropdown">
            Engines
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-5" href="engines.html#intro">Einführung</a></li>
        
            <li><hr class="dropdown-divider"></li>
        
            <li><a class="dropdown-item fs-5" href="engines.html#basic">Grundprinzip</a></li>

            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item fs-5" href="engines.html#turbojet">Turbojet</a></li>
            <li><a class="dropdown-item fs-5" href="engines.html#turbofan">Turbofan</a></li>
            <li><a class="dropdown-item fs-5" href="engines.html#turboprop">Turboprop</a></li>
        
            <li><hr class="dropdown-divider"></li>
        
            <li><a class="dropdown-item fs-5" href="engines.html#engine">Variable Cycle Engines</a></li>
            <li><a class="dropdown-item fs-5" href="engines.html#example">Beispiele</a></li>
          </ul>
        </li>


        <!-- INTERVIEW -->
        <li class="nav-item">
          <a class="nav-link fw-semibold text-dark" href="interview.html">
            Interview
          </a>
        </li>



      </ul>

      <!-- SEARCH -->
      <form class="d-flex gap-2" action="search.html" method="get">
        <input class="form-control fs-4" type="search" name="q" placeholder="Search">
        <button class="btn btn-outline-primary fs-4" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
