
<nav class="navbar fixed-top navbar-expand-xl navbar-light" style="background-color:#e3f2fd;">
  <div class="container-fluid">

    <a class="navbar-brand fs-3 text-dark" href="index.html">
      MoKi
    </a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

 <div class="collapse navbar-collapse" id="mainNavbar">
    
      <!-- MEGA DROPDOWNS -->
      <ul class="navbar-nav me-auto fs-4">
    
        <!-- FIGHTER GENERATIONS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">
            Fighter Generations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="fighter_generations.html#intro">Einführung</a></li>
            <li><a class="dropdown-item" href="fighter_generations.html#gen1">1st Generation</a></li>
            <li><a class="dropdown-item" href="fighter_generations.html#gen2">2nd Generation</a></li>
            <li><a class="dropdown-item" href="fighter_generations.html#gen3">3rd Generation</a></li>
            <li><a class="dropdown-item" href="fighter_generations.html#gen4">4th Generation</a></li>
            <li><a class="dropdown-item" href="fighter_generations.html#gen45">4.5th Generation</a></li>
            <li><a class="dropdown-item" href="fighter_generations.html#gen5">5th Generation</a></li>
            <li><a class="dropdown-item" href="fighter_generations.html#gen6">6th Generation</a></li>
          </ul>
        </li>
    
        <!-- STEALTH -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">
            Stealth
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="stealth.html#intro">Einführung</a></li>
            <li><a class="dropdown-item" href="stealth.html#visual">Visual</a></li>
            <li><a class="dropdown-item" href="stealth.html#radar">Radar</a></li>
            <li><a class="dropdown-item" href="stealth.html#infrared">Infrared</a></li>
          </ul>
        </li>
    
        <!-- KILLCHAIN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">
            Killchain
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="killchain.html#intro">Einführung</a></li>
            <li><a class="dropdown-item" href="killchain.html#find">Find</a></li>
            <li><a class="dropdown-item" href="killchain.html#fix">Fix</a></li>
            <li><a class="dropdown-item" href="killchain.html#track">Track</a></li>
            <li><a class="dropdown-item" href="killchain.html#engage">Engage</a></li>
            <li><a class="dropdown-item" href="killchain.html#assess">Assess</a></li>
          </ul>
        </li>

        <!-- UAV -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">
            UAV & UCAV
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="uav_ucav.html#intro">Einführung</a></li>
            <li><a class="dropdown-item" href="uav_ucav.html#attack">Attack</a></li>
            <li><a class="dropdown-item" href="uav_ucav.html#recon">Recon</a></li>
            <li><a class="dropdown-item" href="uav_ucav.html#ki">Autonom</a></li>
          </ul>
        </li>

        <!-- SENSOR FUSION -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">
            Sensor Fusion
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="sensor_fusion.html#intro">Einführung</a></li>
            <li><a class="dropdown-item" href="sensor_fusion.html#system">Systeme</a></li>
          </ul>
        </li>

        <!-- DIGITALISIERUNG -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">
            KI & Digitalisierung
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="digitalisierung.html#intro">Einführung</a></li>
            <li><a class="dropdown-item" href="digitalisierung.html#logistik">Logistik</a></li>
            <li><a class="dropdown-item" href="digitalisierung.html#targetlock">Zielerfassung</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Electronic Warfare</a>
        
          <ul class="dropdown-menu dropdown-menu-lg-start">
            <li><a class="dropdown-item" href="electronic_warfare.html">Überblick</a></li>    
            
            <li><hr class="dropdown-divider"></li>
        
            <li><a class="dropdown-item" href="electronic_warfare.html#jam">Signal Jamming</a></li>
            <li><a class="dropdown-item" href="electronic_warfare.html#spoof">Spoofing</a></li>
            <li><a class="dropdown-item" href="electronic_warfare.html#emp">EMP-Waffen</a></li>
       
            <li><hr class="dropdown-divider"></li>
        
            <li><a class="dropdown-item" href="electronic_warfare.html#eccm">ECCM</a></li>       
            <li><a class="dropdown-item" href="electronic_warfare.html#esm">Electronic Support Measures</a></li>      
            <li><a class="dropdown-item" href="electronic_warfare.html#ki">Künstliche Intelligenz</a></li>
          </ul>
        </li>


      </ul>

      <!-- SEARCH -->
      <form class="d-flex gap-2" action="search.html" method="get">
        <input class="form-control fs-4" type="search" name="q" placeholder="Search">
        <button class="btn btn-outline-primary fs-4" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
